# coding: utf-8

"""
    CESv2 Remail Network API

    CESv2 Remail Network API  # noqa: E501

    OpenAPI spec version: 1.0.0
    Contact: cie-eng.network-hps-team@cisco.com
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class SegmentApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def get_next_segment(self, **kwargs):  # noqa: E501
        """gets next Segment  # noqa: E501

        gets next Segment to use for provisioning  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_next_segment(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str authorization: A signed and valid Streamline IAM access token
        :param list[str] algorithm: Algorithm to use to get next segment. Options available are least virtual services in a segment or least loaded segment. Defaults to least_vs when this query isnt provided
        :param str site_id: filter based on site_id
        :return: list[Segment]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_next_segment_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_next_segment_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_next_segment_with_http_info(self, **kwargs):  # noqa: E501
        """gets next Segment  # noqa: E501

        gets next Segment to use for provisioning  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_next_segment_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str authorization: A signed and valid Streamline IAM access token
        :param list[str] algorithm: Algorithm to use to get next segment. Options available are least virtual services in a segment or least loaded segment. Defaults to least_vs when this query isnt provided
        :param str site_id: filter based on site_id
        :return: list[Segment]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['authorization', 'algorithm', 'site_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_next_segment" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'algorithm' in params:
            query_params.append(('algorithm', params['algorithm']))  # noqa: E501
            collection_formats['algorithm'] = 'csv'  # noqa: E501
        if 'site_id' in params:
            query_params.append(('site_id', params['site_id']))  # noqa: E501

        header_params = {}
        if 'authorization' in params:
            header_params['Authorization'] = params['authorization']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['jwtTokenValidate']  # noqa: E501

        return self.api_client.call_api(
            '/segment/getNextSegment', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[Segment]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_segments(self, **kwargs):  # noqa: E501
        """Finds supported segments  # noqa: E501

        Finds supported segments  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_segments(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str authorization: A signed and valid Streamline IAM access token
        :param str site_id: filter based on site id, if site id isnt provided fetches all segments
        :return: list[Segment]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_segments_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_segments_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_segments_with_http_info(self, **kwargs):  # noqa: E501
        """Finds supported segments  # noqa: E501

        Finds supported segments  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_segments_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str authorization: A signed and valid Streamline IAM access token
        :param str site_id: filter based on site id, if site id isnt provided fetches all segments
        :return: list[Segment]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['authorization', 'site_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_segments" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'site_id' in params:
            query_params.append(('site_id', params['site_id']))  # noqa: E501

        header_params = {}
        if 'authorization' in params:
            header_params['Authorization'] = params['authorization']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['jwtTokenValidate']  # noqa: E501

        return self.api_client.call_api(
            '/segment', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[Segment]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
